.CollapsibleBar {
  width: 100%;
  height: 50px;
  background-color: #d8d8d8;
  color: #555;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
.Arrow {
  position: relative;
  cursor: pointer;
  left: 10px;
  top: 5px;
}
.Title {
  margin-left: 20px;
}
.Subtitle {
  position: absolute;
  right: 25px;
}
.ColorCode {
  position: absolute;
  top: 5px;
  right: 25px;
}
