.LoadingIndicator {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 50px;
}

.DetailView {
  position: relative;
  height: 0px;
}

.MapZoomToParcel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -20px;
}

.ColoredSquaresContainer {
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
}

.ColoredSquaresHeader {
  color: #555;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ColoredSquare {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 20px 20px 0;
  border-radius: 2px;
  border: 1px solid #555;
}

.SubMessage {
  color: #A0A0A0;
  font-style: italic;
  padding-bottom: 10px;
}

.DetailViewSpinner {
  text-align: center;
}


