.DetailViewHeader {
  width: 100%;
  height: 135px;
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  background-color: rgba(0,0,0,0.5);
}
.Titles {
  position: absolute;
  width: 100%;
}
.Title {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 20px;
  left: 55px;
  font-size: 1.5em;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 100px);
}
.SubTitle {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 55px;
  top: 55px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 100px);
}
.ArrowBackIcon {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 20px;
}
