.LoadingIndicator {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 50px;
}

.DetailView {
  position: relative;
  height: 0px;
}

.MapZoomToParcel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -20px;
}

.ColoredSquaresContainer {
  width: 166px;
  margin-left: calc(50% - 83px);
  margin-top: 25px;
  margin-bottom: 15px;
}

.ColoredSquaresHeader {
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.ColoredSquare {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  border-radius: 2px;
}

.SubMessage {
  color: #A0A0A0;
  padding: 20px 30px 0 30px;
  font-size: 13px;
}

.SectionWrapper {
  text-align: center;
}

.DetailViewSpinner {
  text-align: center;
}


