.DetailViewTable {
  width: 100%;
  background-color: #fff;
  line-height: 20px;
  font-size: 18px;
  text-align: left;
}
.Table {
  color: #A0A0A0;
  font-size: 12px;
  margin: 20px;
  width: calc(100% - 30px);
  border-collapse: collapse;
  border-spacing: 10px;
}
.Row {
  vertical-align: top;
  border-bottom: 1px solid #d7d7d7;
}
.Row td {
  padding: 10px 0 10px 0;
}
.Row:last-child {
  border-bottom: none;
}
.ColKey {
  color: #555;
  width: 50%;
}
.ColValue {
}
.Yes {
  color: darkgreen;
}
.No {
  color: darkred;
}
.Indicator {
  width: 20px;
  height: 20px;
  text-align: center;
}
.IndicatorSuccess {
  color: #fff;
  background-color: #2cbe4e;
  border-radius: 50%;
}
.IndicatorFailure {
  color: #fff;
  background-color: #ff0000;
  border-radius: 50%;
}
.SVGIcon {
  display: block;
  fill: #fff;
  padding-top: 7px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: text-bottom;
}
