.LoadingIndicator {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 50px;
}

.DetailView {
  position: relative;
  height: 0px;
}
