.LayerSelection {
  position: relative;
  display: flex;
  justify-content: center;
}
.Wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.Layer {
  width: 76px;
  height: 76px;
  /*background-color: #ccc;*/
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.Active {
  border: 2px solid #00C4FA;
}

.TitleWrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  padding-left: 4px;
  padding-bottom: 2px;
}
.Title {
  color: #333;
  font-size: 0.6em;
  text-transform: uppercase;
  position: relative;
}

.Prev, .Next {
  cursor: pointer;
}
.LeftArrowIcon {
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 2em;
  color: #333;
}
.RightArrowIcon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 2em;
  color: #333;
}

.Enter {
  opacity: 0.01;
}
.EnterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.Leave {
  opacity: 0.01;
}
.LeaveActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.Appear {
  opacity: 0.01;
}
.AppearActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
