.LegendWrapper {
  position: absolute;
  bottom: 50px;
  height: 300px;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  left: 0px;
}
.Legend {
  height: 50px;
  background-color: #00a899;
  color: #ffffff;
}
.LegendTopBar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.LegendTopBar div {
  padding: 10px;
}
.LayerSwitchButton {
  cursor: pointer;
}
.OpenCloseButton {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.LegendBody {
  background-color: white;
  display: flex;
  justify-content: center;
  color: #333;
  padding: 10px 0 0 0;
  font-size: 0.9em;
  height: 140px;
}
.LegendTable {
  border-collapse: collapse;
  width: 90%;
}
.LegendTable td {
  padding: 10px 0 10px 0;
}
.LegendTable td:first-child {
  width: 57px;
}
.LegendTable tr {
  border-bottom: 1px solid #d7d7d7;
}

.LegendColor {
  border: 1px solid #d7d7d7;
  width: 30px;
  height: 10px;
}
