.ListSearchView {
  position: absolute;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F2;
}

.Geolocate {
  padding: 50px;
  padding-top: 0;
  cursor: pointer;
}

.Welcome {
  color: #a0a0a0;
  font-weight: 300;
  font-size: 1.8em;
  margin: 0;
  padding: 100px 0 0 0;
  line-height: 90px;
}

.GetStarted {
  color: #a0a0a0;
  justify-content: center;
  font-weight: 100;
  font-size: 1.2em;
  margin: 0;
  padding: 0 0 20px 0;
}

.SearchResultCardContainer {
  width: calc(100% - 30px);
  position: relative;
  top: 125px;
  left: 15px;
}

.SearchResultsAsList {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.SearchResultsAsCards {
  left: 0px;
  position: absolute;
  top: 70px;
  width: 100%;
}

.ListSearchLanding {
  margin-top: 50px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
