.LoginLogoutButton {
  background: #F1F1F2;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.50);
  color: #A0A0A0;
  cursor: pointer;
  padding: 5px 15px 10px 15px;
  text-align: center;
  width: 100px;
  position: absolute;
  margin-top: 550px;
}
.Icon {
  transform: translateY(5px);
}
