@keyframes pulsate {
  0%   {
    opacity: 0.2;
  }
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.Marker {
  border-radius: 100%;
  box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.75);
  background-color: #5BB7E5;
  animation: pulsate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: forward;
}
