.searchbar-container {
  background-color: white;
  border-radius: 1px;
  border-radius: 1px;
  box-shadow: 2px 2px 3px 0 rgba(121,121,121,0.50);
  height: 50px;
  margin: 5%;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  width: 90%;
  z-index: 999;
}

.searchbar-btn {
  background-color: white;
  border-right: 1px solid grey;
  border: 0;
  color: grey;
  cursor: pointer;
  height: 50px;
  margin: 0;
  max-height: 50px;
  position: relative;
  width: 10%;
}

.searchbar-btn:hover {
  background-color: lightgrey;
  color: white;
}

.searchbar-input {
  background-color: white;
  border: 0;
  height: 50px;
  margin: 0 0 0 10px;
  max-height: 50px;
  position: relative;
  top: 0;
  width: 77%;
}

/*.searchbar {
  z-index: 999;
  position: absolute;
  top: 20px;

  padding: 5px;
  -webkit-box-shadow: 0 0 0 0 #f00;
  height: 30px;

  color: #444;
  background-color: white;
}*/
