.searchbar-container {
  background-color: #f00;
  width: 80%;
}

.searchbar-btn-menu {

}

.searchbar-btn-search {

}

.searchbar-input {

}

/*.searchbar {
  z-index: 999;
  position: absolute;
  top: 20px;

  padding: 5px;
  -webkit-box-shadow: 0 0 0 0 #f00;
  height: 30px;

  color: #444;
  background-color: white;
}*/