.searchresults-container {
    background-color: white;
    background: red;
    border-radius: 10px;
    bottom: 0px;
    margin: 5%;
    overflow-y: hidden;
    position: absolute;
    width: 90%;
    z-index: 999;
}

.searchresults-container p {
    font-weight: bold;
    margin: 5px;
}

.searchresults-container ul {
    list-style-type: none;
}

.searchresults-container ul li {
    border-bottom: solid black 1px;
}

.searchresults-description {
    font-size: small;
    font-style: italic;
}
