.foobar {
  z-index: 999;
  position: absolute;
  top: 20px;
  /*left: 20px;*/
  padding: 5px;
  width: 100%;
/*  -webkit-box-shadow: 0 0 0 0 #f00;
  height: 30px;*/

  color: #444;
  background-color: white;
}