.SnackBar {
  position: fixed;
  bottom: 0px;
  padding: 20px;
  width: 75%;
  background-color: #000;
  color: #fff;
  z-index: 1005;
}
.SnackBarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ActionButtonDefault {
  float: right;
  font-weight: bold;
  color: #00B6A9;
  cursor: pointer;
}
.ActionButtonNegative {
  float: right;
  font-weight: bold;
  color: #EA2152;
  cursor: pointer;
}
.Message {
  padding: 0;
  margin: 0;
}
.SubMessage {
  padding: 0;
  margin: 5px 0 0 0;
  font-size: .8em;
  font-weight: 100;
}
